<div class="bkash-instruction"></div>
<div class="buttons">
    <div class="pull-right">
        <button id="bKash_button">Pay with bKash</button>

    </div>
</div>
<script type="text/javascript"><!--
    //var script = document.createElement("script");  // create a script DOM node
    //script.src = 'https://scripts.sandbox.bka.sh/versions/1.2.0-beta/checkout/bKash-checkout-sandbox.js';  // set its src to the provided URL

    //document.head.appendChild(script);
    
    var paymentRequest = {};
    var amount="{{ amount }}";
    //alert('hi');
    var paymentID = '';
    bKash.init({
        paymentMode: 'checkout', //fixed value ‘checkout’ 
        paymentRequest: { 
            amount: amount, //max two decimal points allowed 
            intent: 'sale' 
        },
        //intent options 
        //1) ‘sale’ – immediate transaction (2 API calls) 
        //2) ‘authorization’ – deferred transaction (3 API calls) 
        
        paymentRequest: paymentRequest,
        createRequest: function (request) { //request object is basically the paymentRequest object, automatically pushed by the script in createRequest method 
            $.ajax({
                url: 'index.php?route=extension/payment/bkash/createPayment',
                type: 'POST',
                contentType: 'application/json',
                success: function (resp) {
console.log(resp);
                    var data = jQuery.parseJSON(resp);
                    
                    //alert(resp.data);
                    if (data && data.data)
                    {
                        var obj = data.data;
                        //alert(obj.paymentID);
                        if (data && obj.paymentID != null) {
                            paymentID = obj.paymentID;
                            order_id = data.order_id;
                            bKash.create().onSuccess(obj);
                        } else {
                            console.log('error');
                            bKash.create().onError();
                        }
                    } else {
                        bKash.create().onError();
                    }
                },
                error: function () {
                    bKash.create().onError();
                }
            });
        },
        executeRequestOnAuthorization: function () {
            $.ajax({
                url: 'index.php?route=extension/payment/bkash/executePayment',
                type: 'GET',
                contentType: 'application/json',
                data: "paymentID=" + paymentID + "&optype=confirm&order_id=" + order_id,
                success: function (resp) {
                    var data = JSON.parse(resp);
                     //alert(data.redirect);
                   
                    console.log('got data from execute  ..');
                    console.log('data ::=>');
                    console.log(JSON.stringify(data));

                    //data = JSON.parse(data);
                    if (data.result == 'success') {
                         window.location.href = data.redirect;
                        //alert('[SUCCESS] data : ' + JSON.stringify(data));
                        // window.location.href = "success.html";
                    } else {
                        bKash.execute().onError();
                    }
                },
                error: function () {
                    bKash.execute().onError();
                }
            });
        }
    });




    $('#button-confirm').on('click', function () {
        $.ajax({
            type: 'get',
            url: 'index.php?route=extension/payment/bkash/confirm',
            cache: false,
            beforeSend: function () {
                $('#button-confirm').button('loading');
            },
            complete: function () {
                $('#button-confirm').button('reset');
            },
            success: function () {
                location = '<?php echo $continue; ?>';
            }
        });
    });
//--></script> 
